.main1{
	position:relative;
}
#searchtxt{
	width:500px;
	height:30px;
	font-size:25px;
}
.txtbox{
}
.sugg{
	margin-top:0px;
	position:absolute;
	width:500px;
	font-size:25px;
	display:block;
	height:auto;
}
.sugg ul li:hover{
	color:blue;
}
.sugg ul{
	padding-top:2px;
	list-style:none;
	background-color:silver;
	padding-left:15px;
}